<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.mapper.PostMapper">




    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.epoch.model.po.Post">
        <id column="post_id" property="postId" />
        <result column="user_id" property="userId" />
        <result column="like_count" property="likeCount" />
        <result column="dislike_count" property="dislikeCount" />
        <result column="img_urls" property="imgUrls" />
        <result column="topic_id" property="topicId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="fail_reason" property="failReason" />
        <result column="is_deleted" property="isDeleted" />
        <result column="publish_time" property="publishTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, post_id, like_count, dislike_count, img_urls, topic_id, title, content, status, fail_reason, is_deleted, publish_time, modify_time
    </sql>


</mapper>
