<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.epoch.mapper.UserPostLikeDislikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.epoch.model.po.UserPostLikeDislike">
        <id column="user_post_like_dislike" property="userPostLikeDislike" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="up_or_down" property="upOrDown" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_post_like_dislike, user_id, post_id, up_or_down
    </sql>

</mapper>
